.tabela {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 32px 0;
    text-align: left;
    width: 100%;
}

.token-badge-color {
    display: inline-flex;
    padding: 10px 15px 10px 10px;
    align-items: center;
    gap: 7px;
    border-radius: 25px;
    background: #414139;
}

.token-badge-color__cor {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #A4E0BF;
}

.token-badge-color__valor {
    color: #F3F3F2;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
}